## Importing necessary libraries,Data Collection,Filter

In [1]:
import pandas as pd
import datetime as dt

# Define the start and end dates
start = dt.datetime(2021, 7, 1)
end = dt.datetime(2021, 12, 28)

# Load the CSV file and set 'Date' as the index
data = pd.read_csv('Tatacoffee13_21.csv', parse_dates=['Date'], index_col='Date')

# Filter the data based on the index, extra step csv file 
stk_data = data[(data.index >= start) & (data.index <= end)]

# Display the filtered data
stk_data

              Open    High     Low   Close
Date
2021-07-01  188.60  189.00  183.00  184.55
2021-07-02  183.05  187.50  182.15  186.40
2021-07-05  187.85  198.35  187.85  192.45
2021-07-06  193.80  194.80  187.35  188.80
2021-07-07  187.80  193.95  185.40  192.85
...            ...     ...     ...     ...
2021-12-22  202.90  207.80  201.35  205.00
2021-12-23  206.00  206.85  202.05  202.95
2021-12-24  203.90  203.90  199.35  201.00
2021-12-27  200.00  222.00  196.00  218.35
2021-12-28  219.65  220.45  211.55  212.35

[123 rows x 4 columns]

In [2]:

stk_data=stk_data[["Open","High","Low","Close"]]

In [3]:
stk_data

              Open    High     Low   Close
Date
2021-07-01  188.60  189.00  183.00  184.55
2021-07-02  183.05  187.50  182.15  186.40
2021-07-05  187.85  198.35  187.85  192.45
2021-07-06  193.80  194.80  187.35  188.80
2021-07-07  187.80  193.95  185.40  192.85
...            ...     ...     ...     ...
2021-12-22  202.90  207.80  201.35  205.00
2021-12-23  206.00  206.85  202.05  202.95
2021-12-24  203.90  203.90  199.35  201.00
2021-12-27  200.00  222.00  196.00  218.35
2021-12-28  219.65  220.45  211.55  212.35

[123 rows x 4 columns]

In [4]:
stk_data.index

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-05', '2021-07-06',
               '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-12',
               '2021-07-13', '2021-07-14',
               ...
               '2021-12-15', '2021-12-16', '2021-12-17', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-27', '2021-12-28'],
              dtype='datetime64[ns]', name='Date', length=123, freq=None)

## Data Preprocessing

In [5]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(stk_data)
print("Len:",data1.shape)

Len: (123, 4)

In [6]:
data1

array([[0.11186441, 0.02242152, 0.08357075, 0.05268022],
       [0.01779661, 0.        , 0.0674264 , 0.08687616],
       [0.09915254, 0.16218236, 0.17568851, 0.1987061 ],
       [0.2       , 0.10911809, 0.16619183, 0.13123845],
       [0.09830508, 0.09641256, 0.1291548 , 0.20609982],
       [0.18644068, 0.10164425, 0.16904084, 0.16173752],
       [0.14322034, 0.07473842, 0.17283951, 0.15157116],
       [0.16101695, 0.06502242, 0.1377018 , 0.09057301],
       [0.11186441, 0.09641256, 0.14434948, 0.19408503],
       [0.13644068, 0.11733931, 0.20702754, 0.19408503],
       [0.1779661 , 0.10089686, 0.23551757, 0.19316081],
       [0.19067797, 0.10014948, 0.20702754, 0.15804067],
       [0.14237288, 0.05829596, 0.16904084, 0.13678373],
       [0.13050847, 0.04110613, 0.06932574, 0.04990758],
       [0.16949153, 0.21674141, 0.2288699 , 0.31977819],
       [0.41440678, 0.34379671, 0.43494777, 0.49260628],
       [0.45762712, 0.46038864, 0.56790123, 0.62476895],
       [0.63559322, 0.81016442, 0.75023742, 0.99075786],
       [0.96440678, 0.88490284, 0.56410256, 0.61737523],
       [0.50338983, 0.48206278, 0.52326686, 0.55083179],
       [0.5       , 0.46038864, 0.60018993, 0.56931608],
       [0.54322034, 0.41853513, 0.60018993, 0.55452865],
       [0.51610169, 0.38938714, 0.5014245 , 0.46303142],
       [0.42542373, 0.44020927, 0.54131054, 0.57948244],
       [0.52542373, 0.38116592, 0.55175689, 0.5064695 ],
       [0.46186441, 0.40358744, 0.57739791, 0.56377079],
       [0.50677966, 0.3916293 , 0.52611586, 0.48428835],
       [0.44576271, 0.35650224, 0.29344729, 0.39186691],
       [0.3720339 , 0.25560538, 0.25546059, 0.27356747],
       [0.26779661, 0.27055306, 0.31623932, 0.40573013],
       [0.37881356, 0.30493274, 0.45489079, 0.45101664],
       [0.40677966, 0.27653214, 0.42165242, 0.37430684],
       [0.33898305, 0.21973094, 0.35897436, 0.34750462],
       [0.31355932, 0.2122571 , 0.36467236, 0.33733826],
       [0.25423729, 0.15470852, 0.14624881, 0.13863216],
       [0.15      , 0.07698057, 0.        , 0.        ],
       [0.        , 0.1838565 , 0.02184236, 0.2754159 ],
       [0.26271186, 0.23766816, 0.29534663, 0.31885397],
       [0.28644068, 0.20478326, 0.30104463, 0.26340111],
       [0.2279661 , 0.13976084, 0.2668566 , 0.24491682],
       [0.25084746, 0.19880419, 0.33048433, 0.31885397],
       [0.32542373, 0.42974589, 0.42924976, 0.58133087],
       [0.54237288, 0.39985052, 0.55650522, 0.54343808],
       [0.50677966, 0.39237668, 0.57169991, 0.51386322],
       [0.47457627, 0.35500747, 0.52801519, 0.47874307],
       [0.43389831, 0.32884903, 0.46723647, 0.41404806],
       [0.49745763, 0.44095665, 0.58879392, 0.56839187],
       [0.52542373, 0.39910314, 0.59734093, 0.55822551],
       [0.49152542, 0.36173393, 0.56220323, 0.53696858],
       [0.42627119, 0.35127055, 0.54226021, 0.49075786],
       [0.47457627, 0.34155456, 0.54890788, 0.48983364],
       [0.4440678 , 0.36472347, 0.55555556, 0.5       ],
       [0.47033898, 0.40956652, 0.55745489, 0.56654344],
       [0.53389831, 0.39013453, 0.51092118, 0.4935305 ],
       [0.43898305, 0.32660688, 0.42735043, 0.37892791],
       [0.33898305, 0.25784753, 0.35517569, 0.38724584],
       [0.40508475, 0.31315396, 0.49287749, 0.44547135],
       [0.43644068, 0.31689088, 0.51566952, 0.45933457],
       [0.46610169, 0.32884903, 0.45868946, 0.40110906],
       [0.38983051, 0.28400598, 0.43494777, 0.40295749],
       [0.38050847, 0.25411061, 0.42545109, 0.37892791],
       [0.31440678, 0.29596413, 0.41025641, 0.3974122 ],
       [0.37288136, 0.28176383, 0.4634378 , 0.4038817 ],
       [0.3559322 , 0.24738416, 0.41975309, 0.36414048],
       [0.40677966, 0.33183857, 0.49477683, 0.44085028],
       [0.39830508, 0.3019432 , 0.49192783, 0.43807763],
       [0.40677966, 0.46935725, 0.48433048, 0.57763401],
       [0.56610169, 0.4857997 , 0.69135802, 0.67744917],
       [0.66101695, 0.53811659, 0.74833808, 0.68761553],
       [0.63559322, 0.49177877, 0.69705603, 0.64972274],
       [0.59830508, 0.62929746, 0.71984805, 0.85304991],
       [0.81779661, 0.81838565, 0.96866097, 0.96487985],
       [0.91525424, 0.75186846, 0.93447293, 0.90110906],
       [0.86271186, 0.754858  , 1.        , 0.96950092],
       [1.        , 1.        , 0.98100665, 1.        ],
       [0.93220339, 0.81464873, 0.8622982 , 0.83826248],
       [0.81016949, 0.65321375, 0.84425451, 0.80591497],
       [0.76271186, 0.60986547, 0.68186135, 0.6857671 ],
       [0.62542373, 0.51644245, 0.55270655, 0.56561922],
       [0.50847458, 0.45590433, 0.60683761, 0.60443623],
       [0.58305085, 0.48953662, 0.65906933, 0.60443623],
       [0.52542373, 0.40657698, 0.5688509 , 0.52218115],
       [0.47457627, 0.36621824, 0.47863248, 0.48428835],
       [0.46101695, 0.42376682, 0.54226021, 0.55637708],
       [0.53389831, 0.41629297, 0.61728395, 0.58872458],
       [0.54491525, 0.39835575, 0.62488129, 0.57486137],
       [0.55084746, 0.43348281, 0.65337132, 0.63123845],
       [0.60254237, 0.46636771, 0.67236467, 0.6349353 ],
       [0.57711864, 0.50822123, 0.70180437, 0.68484288],
       [0.61016949, 0.5941704 , 0.72934473, 0.7181146 ],
       [0.66440678, 0.54932735, 0.75593542, 0.70240296],
       [0.67372881, 0.57174888, 0.74453941, 0.72088725],
       [0.72711864, 0.60239163, 0.8328585 , 0.81146026],
       [0.76949153, 0.62032885, 0.84805318, 0.79667283],
       [0.76271186, 0.65620329, 0.91832858, 0.8715342 ],
       [0.82033898, 0.66442451, 0.82811016, 0.8077634 ],
       [0.72881356, 0.56053812, 0.62867996, 0.59426987],
       [0.49152542, 0.47683109, 0.5365622 , 0.65804067],
       [0.63305085, 0.53064275, 0.70655271, 0.64510166],
       [0.60508475, 0.46188341, 0.69420703, 0.64695009],
       [0.55932203, 0.41479821, 0.53846154, 0.487061  ],
       [0.39576271, 0.2877429 , 0.25735992, 0.3271719 ],
       [0.30423729, 0.29147982, 0.40550807, 0.3909427 ],
       [0.38389831, 0.31988042, 0.46438746, 0.42144177],
       [0.40169492, 0.27653214, 0.47103514, 0.43715342],
       [0.38983051, 0.30343797, 0.47293447, 0.41866913],
       [0.4220339 , 0.28998505, 0.44444444, 0.3844732 ],
       [0.42372881, 0.40209268, 0.48433048, 0.56746765],
       [0.52542373, 0.42301943, 0.60588794, 0.58780037],
       [0.53389831, 0.41106129, 0.62013295, 0.57486137],
       [0.52542373, 0.47458894, 0.6362773 , 0.64232902],
       [0.61440678, 0.45964126, 0.65527066, 0.6090573 ],
       [0.55423729, 0.40657698, 0.62773029, 0.57763401],
       [0.54067797, 0.39461883, 0.59639126, 0.54343808],
       [0.52542373, 0.38116592, 0.53941121, 0.48243993],
       [0.44067797, 0.3064275 , 0.46438746, 0.4168207 ],
       [0.30508475, 0.18684604, 0.22222222, 0.23752311],
       [0.23728814, 0.24738416, 0.33048433, 0.33179298],
       [0.35423729, 0.30343797, 0.43209877, 0.43068392],
       [0.40677966, 0.28923767, 0.44539411, 0.39279113],
       [0.37118644, 0.245142  , 0.39411206, 0.35674677],
       [0.30508475, 0.51569507, 0.33048433, 0.67744917],
       [0.63813559, 0.49252616, 0.62583096, 0.56654344]])

# Data Preprocessing

In [7]:
data1=pd.DataFrame(data1,columns=["Open","High","Low","Close"])
data1

         Open      High       Low     Close
0    0.111864  0.022422  0.083571  0.052680
1    0.017797  0.000000  0.067426  0.086876
2    0.099153  0.162182  0.175689  0.198706
3    0.200000  0.109118  0.166192  0.131238
4    0.098305  0.096413  0.129155  0.206100
..        ...       ...       ...       ...
118  0.354237  0.303438  0.432099  0.430684
119  0.406780  0.289238  0.445394  0.392791
120  0.371186  0.245142  0.394112  0.356747
121  0.305085  0.515695  0.330484  0.677449
122  0.638136  0.492526  0.625831  0.566543

[123 rows x 4 columns]

In [8]:
data1.shape

(123, 4)

In [9]:
import warnings
warnings.filterwarnings("ignore")

In [10]:
# creating dictionary to store values
performance={"Model":[],"RMSE":[],"MaPe":[],"Lag":[],"Test":[]}
# creating list
listt=["Close","High","Open","Low"]

In [11]:
performance

{'Model': [], 'RMSE': [], 'MaPe': [], 'Lag': [], 'Test': []}

In [12]:
listt

['Close', 'High', 'Open', 'Low']

In [13]:
datasetTwo=data1[listt]
datasetTwo

        Close      High      Open       Low
0    0.052680  0.022422  0.111864  0.083571
1    0.086876  0.000000  0.017797  0.067426
2    0.198706  0.162182  0.099153  0.175689
3    0.131238  0.109118  0.200000  0.166192
4    0.206100  0.096413  0.098305  0.129155
..        ...       ...       ...       ...
118  0.430684  0.303438  0.354237  0.432099
119  0.392791  0.289238  0.406780  0.445394
120  0.356747  0.245142  0.371186  0.394112
121  0.677449  0.515695  0.305085  0.330484
122  0.566543  0.492526  0.638136  0.625831

[123 rows x 4 columns]

# Train and test Split

In [14]:
test_obs = 28
train = datasetTwo[:-test_obs]
test = datasetTwo[-test_obs:]

# Model Creation and Selectiong Order and Forecasting

In [21]:
import pandas as pd
from statsmodels.tsa.api import VAR
for i in range(1, 11):
    model = VAR(train)
    results = model.fit(i)
        
    print('Order =', i)
    print('AIC: ', results.aic)
    print('BIC: ', results.bic)
    print()

Order = 1
AIC:  -24.77355039039039
BIC:  -24.23242384097124

Order = 2
AIC:  -24.537520362684862
BIC:  -23.55715926856102

Order = 3
AIC:  -24.357551846059245
BIC:  -22.93219308511848

Order = 4
AIC:  -24.169233695339997
BIC:  -22.292987031129606

Order = 5
AIC:  -24.06310560350932
BIC:  -21.729949911201075

Order = 6
AIC:  -23.91490584792488
BIC:  -21.11868520777641

Order = 7
AIC:  -23.720925163235894
BIC:  -20.455344816878256

Order = 8
AIC:  -23.53515686656571
BIC:  -19.793779031365652

Order = 9
AIC:  -23.366103168399242
BIC:  -19.14234270507925

Order = 10
AIC:  -23.411123301254108
BIC:  -18.698243229908087

# Selectiong Order and Forecasting

In [25]:

# Second phase: Fit the final VAR model with the best AIC order
x = model.select_order(maxlags=12)
order=x.selected_orders["aic"]
result = model.fit(order)  

# Make predictions
lagged_values = train.values[-order:]
pred = result.forecast(y=lagged_values, steps=28)
preds = pd.DataFrame(pred, columns=listt)
preds.to_csv("varforecasted_{}.csv".format(test_obs))

# Inverse transform the scaled values
pred_price = Ms.inverse_transform(pred)
pred_price_df = pd.DataFrame(pred_price, columns=listt)

In [28]:
pred_price_df

         Close        High        Open         Low
0   232.131567  233.647150  221.974045  230.445456
1   230.626219  232.487906  220.530420  228.284159
2   229.176191  231.337084  219.276248  226.609422
3   227.799758  230.094177  218.066438  225.155362
4   226.528706  228.864806  216.921608  223.864372
5   225.372220  227.709781  215.867440  222.713343
6   224.327646  226.649871  214.909667  221.684640
7   223.387671  225.688365  214.045201  220.764026
8   222.543452  224.821208  213.267588  219.939562
9   221.785996  224.041490  212.569326  219.200935
10  221.106741  223.341486  211.942889  218.539081
11  220.497779  222.713556  211.381156  217.945960
12  219.951914  222.150515  210.877568  217.414407
13  219.462643  221.645770  210.426164  216.938018
14  219.024117  221.193336  210.021565  216.511062
15  218.631080  220.787817  209.658930  216.128406
16  218.278817  220.424359  209.333912  215.785453
17  217.963100  220.098604  209.042613  215.478082
18  217.680138  219.806644  208.781535  215.202603
19  217.426534  219.544975  208.547543  214.955704
20  217.199242  219.310453  208.337829  214.734422
21  216.995531  219.100263  208.149872  214.536099
22  216.812956  218.911881  207.981416  214.358352
23  216.649323  218.743044  207.830438  214.199046
24  216.502668  218.591724  207.695124  214.056269
25  216.371228  218.456103  207.573849  213.928305
26  216.253425  218.334553  207.465157  213.813618
27  216.147845  218.225615  207.367741  213.710829

In [26]:
preds

       Close      High      Open       Low
0   0.849688  0.689793  0.823819  0.901025
1   0.824173  0.672465  0.796399  0.861075
2   0.799596  0.655263  0.772578  0.830119
3   0.776267  0.636684  0.749600  0.803241
4   0.754724  0.618308  0.727856  0.779378
5   0.735122  0.601043  0.707834  0.758102
6   0.717418  0.585200  0.689642  0.739088
7   0.701486  0.570828  0.673223  0.722071
8   0.687177  0.557866  0.658454  0.706831
9   0.674339  0.546211  0.645191  0.693178
10  0.662826  0.535747  0.633293  0.680944
11  0.652505  0.526361  0.622624  0.669981
12  0.643253  0.517945  0.613059  0.660155
13  0.634960  0.510400  0.604486  0.651350
14  0.627527  0.503637  0.596801  0.643458
15  0.620866  0.497576  0.589913  0.636385
16  0.614895  0.492143  0.583740  0.630045
17  0.609544  0.487274  0.578207  0.624364
18  0.604748  0.482909  0.573249  0.619272
19  0.600450  0.478998  0.568804  0.614708
20  0.596597  0.475493  0.564821  0.610618
21  0.593145  0.472351  0.561251  0.606952
22  0.590050  0.469535  0.558052  0.603666
23  0.587277  0.467011  0.555184  0.600722
24  0.584791  0.464749  0.552614  0.598083
25  0.582563  0.462722  0.550311  0.595717
26  0.580567  0.460905  0.548246  0.593597
27  0.578777  0.459277  0.546396  0.591697

# Evaluation Metrics

In [29]:
from sklearn.metrics import mean_squared_error
rmse= round(mean_squared_error(test,pred,squared=False))

from sklearn.metrics import mean_absolute_percentage_error
mape=mean_absolute_percentage_error(test,pred)

#Appending the balues in dictionary
performance["Model"].append(listt)
performance["RMSE"].append(rmse)
performance["MaPe"].append(mape)
performance["Lag"].append(order)
performance["Test"].append(test_obs)
# Converting dictionary into dataframe
perf=pd.DataFrame(performance)

In [30]:
perf

                      Model  RMSE      MaPe  Lag  Test
0  [Close, High, Open, Low]     0  0.430459    1    28

In [31]:
actual_values = test.values[:28]
from sklearn.metrics import mean_squared_error
import numpy as np

# RMSE
rmse = np.sqrt(mean_squared_error(actual_values, pred))
print("RMSE: ", rmse)

# MAPE
mape = np.mean(np.abs((actual_values - pred) / actual_values)) * 100
print("MAPE: ", mape)

RMSE:  0.19079207734989276
MAPE:  43.045941711211